@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  font: inherit;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #313e51;

  background-image: url(./assets/images/pattern-background-desktop-light.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4f6fa;

  min-height: 100vh;
  width: 100%;

  transition: all 0.2s;
}

body.dark {
  background-image: url(/assets/images/pattern-background-desktop-dark.svg);
  background-color: #313e51;
  color: #fff;
}

/* ========== */
/* NAVIGATION */
/* ========== */

nav {
  max-inline-size: 115.7rem;
  margin: 8.3rem auto 8.5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* NAVIGATION TITLE */

.nav__title {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.topic-icon {
  inline-size: 4rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
}

.html-style {
  background-color: #fff1e9;
}
.css-style {
  background-color: #e0fdef;
}
.js-style {
  background-color: #ebf0ff;
}
.access-style {
  background-color: #f6e7ff;
}

.topic-title {
  font-size: 2.8rem;
}

/* NAVIGATION THEME */

.nav__theme {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.theme-btn {
  inline-size: 4.8rem;
  block-size: 2.8rem;
  background-color: #a729f5;
  border-radius: 99px;
  border: none;
  cursor: pointer;

  position: relative;
}

.theme-btn-ball {
  inline-size: 2rem;
  block-size: 2rem;
  background-color: #fff;
  border-radius: 99px;

  position: absolute;
  top: 0.4rem;
  left: 0.4rem;

  transition: all 0.5s;
}

body.dark .theme-btn-ball {
  left: 2.4rem;
}

#sun-icon {
  transition: all 0.3s;
}
#moon-icon {
  transition: all 0.3s;
}

/* ==== */
/* MAIN */
/* ==== */

main {
  display: flex;
  max-inline-size: 116rem;
  justify-content: space-between;
  margin: 0 auto;
}

/* WELCOME */

.welcome-section {
  max-inline-size: 46.5rem;
}

.welcome-section h2 {
  font-weight: 300;
  font-size: 6.4rem;
  margin-block-end: 4.8rem;
}

.welcome-section h2 span {
  font-weight: 500;
}

.welcome-section p {
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
  color: #626c7f;
}

/* TOPIC SELECT */

.topic-section {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  inline-size: 56.4rem;
}

.btn-topic-style {
  inline-size: 100%;

  padding: 2.8rem;
  border: none;
  border-radius: 2.4rem;
  background-color: #fff;

  display: flex;
  align-items: center;
  gap: 3.2rem;

  cursor: pointer;

  box-shadow: 16px 16px 40px hsla(216, 25%, 25%, 0.14);
}

body.dark .btn-topic-style {
  background-color: #3b4d66;
}

/* Question section */

.question-section {
  max-inline-size: 46.5rem;
  max-block-size: 52rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.counter-style {
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
  color: #626c7f;
  margin-bottom: 2.7rem;
}

.question-style {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

.timer-container {
  display: flex;
  align-items: center;
  inline-size: 100%;
  block-size: 1.6rem;
  background-color: #fff;
  border-radius: 99px;
}

.timer-indicator {
  inline-size: 50%;
  block-size: 0.8rem;
  background-color: #a729f5;
  border-radius: 99px;
  margin: 0.4rem;
}

/* Answer section */

.answers-section {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  inline-size: 56.4rem;
}

.answer-btn-style {
  inline-size: 100%;

  padding: 1.8rem;
  border: #fff solid 3px;
  border-radius: 2.4rem;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;

  cursor: pointer;

  box-shadow: 16px 16px 40px hsla(216, 25%, 25%, 0.14);
}

.answer-order {
  font-size: 2.8rem;
  color: #626c7f;
  padding: 1.6rem;
  border-radius: 0.8rem;
  background-color: #f4f6fa;
}

.answer-btn-style:hover .answer-order {
  color: #a729f5;
  background-color: #f6e7ff;
}

.answer-btn-style:focus {
  border: #a729f5 solid 3px;
}

.answer-btn-style:focus .answer-order {
  color: #fff;
  background-color: #a729f5;
}

.answer-btn-style.correct {
  border: #26d782 solid 3px;
}

.answer-btn-style.correct .answer-order {
  color: #fff;
  background-color: #26d782;
}

.answer-btn-style.wrong {
  border: #ee5454 solid 3px;
}

.answer-btn-style.wrong .answer-order {
  color: #fff;
  background-color: #ee5454;
}

.submit-btn-style {
  inline-size: 100%;

  padding: 2.8rem;
  border: none;
  border-radius: 2.4rem;
  background-color: #a729f5;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  box-shadow: 16px 16px 40px hsla(216, 25%, 25%, 0.14);

  color: #fff;
  font-size: 2.8rem;
}

.submit-btn-style:hover,
.submit-btn-style:focus {
  color: hsla(0, 0%, 100%, 0.75);
  background-color: hsla(277, 91%, 56%, 0.75);
}

.answer-btn-style img {
  inline-size: 4rem;
}

.please {
  color: #ee5454;
  font-weight: 400;
  font-size: 2.4rem;
  text-align: center;
}

/* SCORE */

.score-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  background-color: #fff;
  border-radius: 2rem;
  padding: 4.8rem;

  box-shadow: 16px 16px 40px hsla(216, 25%, 25%, 0.14);
}

.score-style {
  font-size: 14.4rem;
  color: #313e51;
}

.out-of-style {
  font-size: 2.4rem;
  font-weight: 400;
  color: #626c7f;
}

.keep-color {
  color: #313e51;
}

/* MEDIA */

@media screen and (max-device-width: 850px) {
  body {
    background-image: url(/assets/images/pattern-background-tablet-light.svg);
    background-size: 60%;
  }

  body.dark {
    background-image: url(/assets/images/pattern-background-tablet-dark.svg);
    background-size: 60%;
  }

  nav {
    margin: 4rem 6.4rem 4.9rem 6.4rem;
  }

  main {
    margin: 0 6.4rem;
  }
}

@media screen and (max-device-width: 815px) {
  main {
    flex-direction: column;
    gap: 6.4rem;
    align-items: center;
  }
}

@media screen and (max-device-width: 490px) {
  .nav__theme {
    gap: 0.8rem;
  }

  .theme-btn {
    inline-size: 3.2rem;
    block-size: 2rem;
  }
  .theme-btn-ball {
    inline-size: 1.2rem;
    block-size: 1.2rem;
  }

  body.dark .theme-btn-ball {
    left: 1.6rem;
  }

  #sun-icon {
    inline-size: 1.6rem;
  }
  #moon-icon {
    inline-size: 1.6rem;
  }

  nav {
    margin: 1.6rem 2.4rem 4.8rem 2.4rem;
  }

  .nav__title {
    gap: 1.6rem;
  }

  .topic-icon {
    inline-size: 2.85rem;
    padding: 0.57rem;
  }

  .topic-title {
    font-size: 1.8rem;
  }

  main {
    margin: 0 2.4rem;
    gap: 4rem;
  }

  .topic-section {
    gap: 2.4rem;
    inline-size: 100%;
  }

  .welcome-section h2 {
    font-size: 4rem;
    margin-block-end: 1.6rem;
  }

  .welcome-section p {
    font-size: 1.4rem;
  }

  .btn-topic-style {
    padding: 1.2rem;
    gap: 1.6rem;
    border-radius: 1rem;
  }

  .counter-style {
    font-size: 1.4rem;
  }

  .question-style {
    font-size: 2rem;
  }

  .answer-order {
    font-size: 1.8rem;
    padding: 1.4rem;
  }

  .submit-btn-style {
    font-size: 1.8rem;
  }

  .please {
    font-size: 1.8rem;
  }

  .answer-btn-style img {
    inline-size: 3.2rem;
  }

  .answers-section {
    gap: 1.8rem;
    inline-size: 100%;
  }
}
